/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-background: url("../images/cover-image-light.png");
  --main-bg-color: #FFF1F7;
  --main-titles-color: #FFC2E6;
  --main-titles-shadow-color: #FF8DCB;
  --accent-color: #FF8DCB;
  --accent-title-color: #353430;
  --accent-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background: url("../images/cover-image-light.png");
    --main-bg-color: #FFF1F7;
    --main-titles-color: #FFC2E6;
    --main-titles-shadow-color: #FF8DCB;
    --accent-color: #FF8DCB;
    --accent-title-color: #353430;
    --accent-text-color: #353430;
  }
}