/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-background: url("../images/cover-image-dark.png");
  --main-bg-color: #000028;
  --main-font: 'IBM Plex mono';
  --main-font-regular: 400;
  --main-font-bold: 700;
  --main-titles-color: #DB00FF;
  --main-titles-shadow-color: #FF0070;
  --accent-line-height: 130%;
  --accent-font-size: 18px;
  --accent-color: #FF0070;
  --nav-menu-text-color: #FF0070;
  --section-title-color: #FF0070;
  --accent-title-color: #000028;
  --accent-text-color: #F1B2CE;
}
